## Estructuras de datos:
1. Listas
2. Diccionarios
3. Tuplas
4. Sets

Listas
Esta estructura nos permite almacenar datos de una forma ordenada, en el sentido de que el elemento que se encuentra en un determinado índice no se mueve al agregar más datos a esa estructura.

In [2]:
ages=[35,26,33,21,28]
ages

[35, 26, 33, 21, 28]

In [3]:
type (ages)

list

índice

In [4]:
ages[3]

21

Agregar elementos a una lista

In [5]:
other_ages=[1]
ages=ages+other_ages
ages

[35, 26, 33, 21, 28, 1]

Conocer el tamaño de la lista

In [6]:
len(ages)

6

Extraer elementos

In [13]:
ages[:2]

[35, 26]

In [16]:
ages[4:]

[28, 1]

Agregar elementos con un append

In [18]:
ages.append(2)

In [19]:
ages

[35, 26, 33, 21, 28, 1, 2, 2]

Verificar si un elemento está en la lista

In [21]:
35 in ages

True

Modificar un elemento de la lista a través del uso de índices

In [23]:
ages[5]=100

In [25]:
ages

[35, 26, 33, 21, 28, 100, 2, 2]

Borrar elementos se realiza por el contenido de la lista no por el índice

In [29]:
ages.remove(2)
ages

[35, 26, 33, 28, 100]

Ordenar los elementos de la lista

In [30]:
ages.sort(reverse=True)
ages

[100, 35, 33, 28, 26]

Diccionarios

Esta estructura de datos está formada por una llave y un valor.
La llave puede ser numérica o string y el valor puede ser cualquier cosa, incluso otro diccionario.

In [11]:
students={'Juan':1234,'Jose':2345,'Maria':4321,'Lucia':2233}
students

{'Juan': 1234, 'Jose': 2345, 'Maria': 4321, 'Lucia': 2233}

In [33]:
len(students)

4

In [35]:
test={'1234':['Juan','Salvador','Pérez',{'carrera':['Economía','Matemáticas']}]}

In [36]:
len(test['1234'])

4

In [38]:
test['1234'][3]['carrera'][1]

'Matemáticas'

Obtener elementos de un diccionario

In [39]:
students['Maria']

4321

Obtener todas las llaves de un diccionario

In [40]:
students.keys()

dict_keys(['Juan', 'Jose', 'Maria', 'Lucia'])

Obtener los valores de un diccionario

In [41]:
students.values()

dict_values([1234, 2345, 4321, 2233])

Modificar el contenido de una llave

In [44]:
students['Juan']=1111
students['Juan']

1111

In [45]:
type(students)

dict

In [46]:
test['1234'].append('extra')

In [47]:
test['1234']

['Juan',
 'Salvador',
 'Pérez',
 {'carrera': ['Economía', 'Matemáticas']},
 'extra']

In [48]:
students.pop('Maria')

4321

In [49]:
students

{'Juan': 1111, 'Jose': 2345, 'Lucia': 2233}

Sets

Esta estructura de datos contiene elementos no ordenados cuya principal característica es que forman un conjunto, y por lo tanto, no puede haber repetidos. En los conjuntos dado que los elementos no están ordenados, no hay forma de obtener datos a través de índices u obtener rangos secuenciales de datos (slice).

Dado que son conjuntos, nos permite realizar operaciones como: intersección, unión, diferencia.

In [15]:
setexample={'a','c',4}
setexample

{4, 'a', 'c'}

In [16]:
setexample.add('b')
setexample

{4, 'a', 'b', 'c'}

In [17]:
setexample.remove('c')
setexample

{4, 'a', 'b'}

In [18]:
setexample2={4,'d','e'}
setexample2

{4, 'd', 'e'}

In [21]:
interseccionexample=setexample2.intersection(setexample)
interseccionexample

{4}

In [22]:
unionexample=setexample2.union(setexample)
unionexample

{4, 'a', 'b', 'd', 'e'}

Si todos los elementos entre dos conjuntos son diferentes isdisjoint().
Si todo un conjunto de la derecha se encuentra contenido en el de la derecha issubset().
Si todo un conjunto de la izquierda se encuentra contenido en el de la derecha issuperset().

Tuplas

Esta estructura de datos nos permite hacer una especie de "bolsa" de elementos de diferentes tipos, los elementos son ordenados por lo que se puede acceder a ellos a través de índices.
Las tuplas ocupan paréntesis (), aunque lo que realmente defina a una tupla es el uso de la coma ya que es posible tener tuplas con un solo elemento.
A la tuplas no se les puede agregar elementos o quitar elementos, o se cambia todo o nada.

In [23]:
bolsa=('a',1)
bolsa

('a', 1)

In [24]:
bolsa[0]

'a'

Flujos de control

if-else
A través de if-else es posible aplicar operaciones condicionales a los datos.

In [25]:
x=4

In [26]:
if x<5:
    print("menor que 5")
else:
    print("mayor que 5")

menor que 5

if-elif-else

In [27]:
if(x>0 and x<4):
    print("entre 1 y 4")
elif x==4:
    print("Es cuatro")
else:
    print("Es 5")

Es cuatro

Ciclos

Los ciclos nos permiten iterar sobre una colección, misma que puede ser una lista, los valores de un diccionario, conjuntos, tuplas.
Un ciclo se define por for [element] in [something]: donde [element] es el nombre de una variable-como la quieras llamar- que tomará el valor de cada elemento en la colección [something].

Los ciclos en Python no requieren utilizar llaves para definir el contenido del ciclo, a cambio ocupan identación.

In [2]:
ages=[35,26,33,21,28]

In [35]:
for i in ages:
    print(i+100)

135
126
133
121
128

In [36]:
for i in ages:
    if i<25:
        print(i,'Jóven')
    elif i>=25 and i<35:
        print(i,'Adulto')
    else:
        print(i,"Viejo")

35 Viejo
26 Adulto
33 Adulto
21 Jóven
28 Adulto

Existe una función range() que nos permite generar secuencias de número a través de las cuales haremos las iteraciones del ciclo. Esta función puede ocuparse de 3 diferentes formas:

1. range(x) nos permitirá generar una secuencia que se detendrá hasta el x-1 (recuerda que todo inicia en 0).
2. range(x,y) nos permitirá generar una secuencia que va desde x hasta y-1.
3. range(x,y,z) nos permitirá generar una secuencia que va desde x hasta y-1 de z en z.

In [9]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [6]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(2,7,2):
    print(i)

2
4
6

Existen veces en las que necesitamos tener el pindice del elemento que forma parte de la colección, en este caso podemos usar la función enumerate que le agrega una secuencia a cada elemento de la colección.

In [10]:
for i,age in enumerate(ages):
    print(i,age)

0 35
1 26
2 33
3 21
4 28

In [12]:
for i,student in enumerate(students):
    print(i,student)

0 Juan
1 Jose
2 Maria
3 Lucia

In [13]:
for i,values in enumerate(students.values()):
    print(i,values)

0 1234
1 2345
2 4321
3 2233

Comprehension lists

Este es un operador que nos permite hacer programación funcional -una operación se aplica a todos los elementos de una colección al mismo tiempo-.
De ser posible, siempre se prefiere usar un comprehension list que ocupar un ciclo for, ya que son mpas eficientes en memoria y en procesamiento.
Una comprehension list ocupa un for, pero en lugar de establecer operaciones a realizar hacia abajo, lo hace en el mismo renglón, es posible regresar una list, un diccionario y un generador.

In [14]:
u=[age/2 for age in ages]
u

[17.5, 13.0, 16.5, 10.5, 14.0]

In [19]:
type(u)

list

In [16]:
d={i:age for i,age in enumerate(ages)}
d

{0: 35, 1: 26, 2: 33, 3: 21, 4: 28}

In [18]:
type(d)

dict

In [21]:
["Joven" if age<25 else "Viejo" for age in ages]

['Viejo', 'Viejo', 'Viejo', 'Joven', 'Viejo']

In [23]:
students.values()

dict_values([1234, 2345, 4321, 2233])

In [24]:
[value*2 if i<3 else values for i,value in enumerate(students.values())]

[2468, 4690, 8642, 2233]

Funciones

Las funciones nos permiten organizar nuestro código con el propósito de reutilizarlo lo más posible, y tener nuestro código organizado de manera más clara.
Una función debería hacer una cosa y encapsularla para que pueda ser reutilizada en otras partes del código.
Para crear una función necesitas ocupar la palabra def seguida del nombre de la función, con las variables que tiene que recibir y terminar con dos puntos. 
Si la función regresara algo, puedes regresarlo usando un return, es posible regresar más de un elemento, de ser así puedes enviar tuplas, listas, diccionarios, etc.

In [25]:
def duplicate_age(age):
    return age*2

In [26]:
duplicate_age(2)

4

In [28]:
[duplicate_age(age) for age in ages]

[70, 52, 66, 42, 56]

In [32]:
def age_to_category(age):
    category=None
    if age<25:
        category="Jóven"
    elif (age>25 and age<35):
        category="Adulto"
    else:
        category="Viejo"
    return category

In [33]:
[age_to_category(x) for x in ages]

['Viejo', 'Adulto', 'Adulto', 'Jóven', 'Adulto']